body{
	font-family: Arial;
	background: silver;
	font-size: 20px
}
p{
	font-size: 12px
}
header{
	border: 6px solid white;
	border-radius:0px 0px 30px 30px;
	background-color: black;
	color: white;
}
a {
	color: black;
	font-size: 12px;
}
a:hover {
	color: red;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: black;
}
#section2 {
	margin-left: 0px
}
#page { 
	margin-left: 0px;
	border: 5px solid white;
	border-radius:30px 30px 30px 30px;
	height: 400px;
}
#wrapper {
	margin: 0px auto 0px auto;
	min-width: 780px;
	max-width: 1000px;
}
#logo{
	height: 80px;
	margin-left: 10px;
}
#menubalk{
	height: 30px;
	margin-left: 10px;
}
#nav{
	float: left;
	padding: 10px;
	background-color: white;
	margin-top: 10px;
	border-radius:30px 0px 0px 30px;
	text-align: center;
}
nav{
	width: 100px;
}
section{
	margin-left: 120px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px
}
article{
	background: white;
	clear: right;
	padding: 10px;
	padding-bottom: 14px;
	border: 1px solid white;
	border-radius: 0px 20px 20px 0px;
}
footer{
	background: black;
	color: white;
	clear: both;
	border: 4px solid white;
	border-radius:30px 30px 0px 0px;
	text-align: center;
	font-size: 12px;
	font-family: Arial;
}
